$background: #141C24;
$background2: #171717;
$grey-font: #838383;
$grey-font2: #ececec;
$card-background: #1F2631;
$white: #FFF;
$black: #000;
$active-blue: #00C5FF;
$border-blue: #57D6FF;
$slider-bg: #09BDF2;
$grey-text: #ABABAB;
$blue: #0000FF;

$md1: 1200;
$md2: 992;
$md3: 768;
$md4: 576;

@mixin media-1($width) {
	@media (max-width: #{$md1}px) {
		@content;
	}
}

@mixin media-2($width) {
	@media (max-width: #{$md2}px) {
		@content;
	}
}

@mixin media-3($width) {
	@media (max-width: #{$md3}px) {
		@content;
	}
}

@mixin media-4($width) {
	@media (max-width: #{$md4}px) {
		@content;
	}
}