.header {
  position: relative;
  background-color: $background;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 65px;
    font-size: 16px;
  }

  &__logo {
    .logo__img {
      width: 212px;
    }
  }

  &__burger {
    position: relative;
    display: none;
    width: 52px;
    height: 40px;

    &::after,
    &::before {
      content: '';
      position: absolute;
      right: 0;
      width: 52px;
      height: 5px;
      background-color: $white;
    }

    &::before {
      top: 25px;
    }

    &::after {
      top: 10px;
    }

  }

  &__list {
    display: flex;
    justify-content: flex-end;
    margin-right: 60px;
  }

  &__item {
    position: relative;
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }

    &--active,
    &:active {
      font-weight: 400;
      border-bottom: 1px solid $active-blue;
    
    }
  }

  &__link {
    padding: 5px 5px;
    border-radius: 3px;
    transition: background-color 0.2s;

    &:hover {
      background-color: rgba($active-blue, 0.1);
    }

    &:focus {
      outline: transparent;
      border: 1px solid $white;
    }
  }

  .social {
    &__list {
      display: none;
      justify-content: center;
      max-width: 100%;
      padding-bottom: 41px;
      border-bottom: 1px solid $grey-font;
    }
    
    &__link {
      width: 41px;
      height: 41px;
      background-size: 33px;
    }
  }

  @include media-1(1400) { 
    &__list {
      margin-right: 0;
    }

    &__item {
      margin-right: 15px;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  @include media-2(1100) { 
      position: absolute;
      left: 0;
      right: 0;
      background: none;
      z-index: 1;

      .container {
        padding: 40px 65px;
      }

      &__burger {
        display: block;
      }

      &__nav {
        position: absolute;
        height: 100vh;
        top: 0;
        left: 0;
        padding: 160px 30px 15px;
        background-color: $background;
      }

      &__list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 400px;
        height: auto;
        margin-bottom: 20px;
      }

      &__item {
        margin-right: 0;
      }

      &__link {
        display: block;
        text-align: center;
        padding: 11px 0 9px;
      }

    .social {
      &__list {
        display: flex;
      }
    }
  }

  @include media-4(768) {
      &__logo {
        margin: 0 auto;
      }
      &__burger {
        position: absolute;
        top: 94vh;
        right: 45px;
        transform: translateY(-100%);
      }
  }
}
