.rates {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 335px;
  }

  &__title {
    margin-bottom: 60px;
  }

  &__list {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: stretch;
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;

    &::after {
      content: '';
      position: absolute;
      bottom: -90px;
      left: 50%;
      transform: translateX(-50%);
      width: 582px;
      height: 1px;
      background-color: $active-blue;
    }
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 400px;
    width: 100%;
    margin-right: 10px;
    padding: 76px 40px 47px;
    border-radius: 5px;
    background-color: $card-background;
    transition: background-color 0.2s, color 0.2s;

    &::before {
      content: '';
      position: absolute;
      top: -20px;
      left: 50%;
      transform: translateX(-50%);
      width: 200px;
      height: 200px;
      background-color: $active-blue;
      border-radius: 50%;
      opacity: 0;
      filter: blur(150px);
      transition: opacity 0.2s;
      z-index: -1;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      background-color: $active-blue;
      color: $black;

      &::before {
        opacity: 0.5;
      }


      .rates {

        &__item-title,
        &__item-price,
        &__item-desc {
          color: $black;
        }

        &__btn {
          background-color: $background;
          color: $white;
        }
      }
    }
  }


  &__item-title {
    max-width: 300px;
    margin-bottom: 18px;
    font-size: 36px;
    font-weight: 700;
  }

  &__item-price {
    display: inline-block;
    margin-bottom: 21px;
    font-size: 24px;
    color: $white;
  }

  .desc-list {
    margin-bottom: 66px;
    font-size: 21px;
    color: $grey-text;

    &__item {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__btn {
    margin-top: auto;
    width: 100%;
    padding: 21px 0;
    font-family: 'Aire-Exterior';
    font-size: 24px;
    color: $background;
    font-weight: 400;
    background-color: $active-blue;
    border-radius: 5px;
    transition: background-color 0.2s, color 0.2s;
  }
}